<!-- packages.html -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Add necessary CSS and scripts -->
</head>
<body>
<h1>Available Packages</h1>
<p th:if="${error}" th:text="${error}" style="color:red;"></p>

<ul>
    <!-- Loop through the packages and display package information -->
    <li th:each="package : ${packages}">
        <h3 th:text="${package.name}"></h3>
        <p th:text="${package.description}"></p>
        <p><strong>Duration:</strong> <span th:text="${package.duration}"></span></p>
        <p><strong>Return On Investment:</strong> <span th:text="${package.returnOnInvestment}"></span></p>
        <p><strong>Min Investment Amount:</strong> <span th:text="${package.minInvestmentAmount}"></span></p>


    </li>
</ul>
</body>
</html>
