<footer class="rebrand-footer-v2 wf-section"><img
        src="https://assets-global.website-files.com/5ff21113877dd72b9f913b35/632981049255d37ccf638ce4_hirologo.svg"
        loading="lazy" alt="Hiro Logo" class="hiro-footer-mobile-logo"/>
    <div class="rebrand-container-v2 footer-container">
        <div id="w-node-_7b3c11bb-2cd1-eb56-720d-3d4fdb4bc4fd-db4bc4f8" class="column footer-first-column"><a
                href="/" aria-current="page" class="footer-link-v2 desktop w-inline-block w--current"><img
                src="https://assets-global.website-files.com/5ff21113877dd72b9f913b35/6411baf66ae97c9f01454cc5_Group%205907.svg"
                loading="lazy" alt="Hiro H Logo" class="image-contain"/></a>
            <div class="footer-column-title margin-bot-xxs social">Social/</div>
            <a rel="noreferrer" href="https://twitter.com/hirosystems" target="_blank"
               class="footer-link-rebrand-v2 first w-inline-block">
                <div class="text-block-88"><span class="text-span-86">├── </span><span
                        class="text-span-87">Twitter</span></div>
            </a><a rel="noreferrer" href="https://discord.com/invite/pPwMzMx9k8" target="_blank"
                   class="footer-link-rebrand-v2 w-inline-block">
                <div class="text-block-88"><span class="text-span-86">├── </span><span class="text-span-87">Join Discord</span>
                </div>
            </a><a rel="noreferrer" href="https://github.com/hirosystems" target="_blank"
                   class="footer-link-rebrand-v2 w-inline-block">
                <div class="text-block-88"><span class="text-span-86">├── </span><span
                        class="text-span-87">Github</span></div>
            </a><a rel="noreferrer" href="https://www.youtube.com/c/HiroSystems" target="_blank"
                   class="footer-link-rebrand-v2 w-inline-block">
                <div class="text-block-88"><span class="text-span-86">├── </span><span
                        class="text-span-87">YouTube</span></div>
            </a><a rel="noreferrer" href="https://www.linkedin.com/company/hiro-systems/" target="_blank"
                   class="footer-link-rebrand-v2 w-inline-block">
                <div class="text-block-88"><span class="text-span-86">└── </span><span
                        class="text-span-87">LinkedIn</span></div>
            </a></div>
        <div id="w-node-_7b3c11bb-2cd1-eb56-720d-3d4fdb4bc51e-db4bc4f8" class="rebrand-footer-column v2">
            <div class="footer-column-title margin-bot-xxs">Tools &amp; Infrastructure/</div>
            <a rel="noreferrer" href="/platform" class="footer-link-rebrand-v2 w-inline-block">
                <div class="text-block-88"><span class="text-span-86">├── </span><span
                        class="text-span-87">Platform</span></div>
            </a><a rel="noreferrer" href="/clarinet" class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">├── </span><span
                    class="text-span-87">Clarinet</span></div>
        </a><a rel="noreferrer" href="https://marketplace.visualstudio.com/items?itemName=HiroSystems.clarity-lsp"
               target="_blank" class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">├── </span><span class="text-span-87">Clarity VScode Extension ↗</span>
            </div>
        </a><a rel="noreferrer" href="/stacks-api" class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">├── </span><span class="text-span-87">Stacks Blockchain API</span>
            </div>
        </a><a rel="noreferrer" href="/stacks-js" class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">├── </span><span
                    class="text-span-87">Stacks.js</span></div>
        </a><a rel="noreferrer" href="http://explorer.hiro.so/" target="_blank"
               class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">├── </span><span class="text-span-87">Stacks Explorer ↗</span>
            </div>
        </a><a rel="noreferrer" href="http://ordinals.hiro.so" target="_blank"
               class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">├── </span><span class="text-span-87">Ordinals Explorer ↗</span>
            </div>
        </a><a rel="noreferrer" href="http://wallet.hiro.so" target="_blank"
               class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">└── </span><span class="text-span-87">Hiro Wallet ↗</span>
            </div>
        </a></div>
        <div id="w-node-_7b3c11bb-2cd1-eb56-720d-3d4fdb4bc551-db4bc4f8" class="rebrand-footer-column v2">
            <div class="footer-column-title margin-bot-xxs">Resources/</div>
            <a rel="noreferrer" href="https://docs.hiro.so/" target="_blank"
               class="footer-link-rebrand-v2 w-inline-block">
                <div class="text-block-88"><span class="text-span-86">├── </span><span class="text-span-87">Documentation ↗</span>
                </div>
            </a><a rel="noreferrer" href="https://docs.hiro.so/example-apps" target="_blank"
                   class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">├── </span><span class="text-span-87">Example Apps ↗</span>
            </div>
        </a><a rel="noreferrer" href="https://docs.hiro.so/tutorials" target="_blank"
               class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">├── </span><span
                    class="text-span-87">Tutorials ↗</span></div>
        </a><a rel="noreferrer" href="http://docs.hiro.so/roadmap" target="_blank"
               class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">├── </span><span
                    class="text-span-87">Roadmap ↗</span></div>
        </a><a rel="noreferrer" href="https://www.youtube.com/c/hirosystems" target="_blank"
               class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">├── </span><span
                    class="text-span-87">Videos ↗</span></div>
        </a><a rel="noreferrer" href="/blog" class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">└── </span><span class="text-span-87">Blog</span>
            </div>
        </a></div>
        <div id="w-node-_7b3c11bb-2cd1-eb56-720d-3d4fdb4bc578-db4bc4f8" class="rebrand-footer-column v2">
            <div class="footer-column-title margin-bot-xxs">Company/</div>
            <a rel="noreferrer" href="/careers" class="footer-link-rebrand-v2 w-inline-block">
                <div class="text-block-88"><span class="text-span-86">├── </span><span
                        class="text-span-87">Careers</span><span class="text-span-88"> *we&#x27;re hiring*</span>
                </div>
            </a><a rel="noreferrer" href="/about" class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">├── </span><span
                    class="text-span-87">About us</span></div>
        </a><a rel="noreferrer" href="/press" class="footer-link-rebrand-v2 w-inline-block">
            <div class="text-block-88"><span class="text-span-86">└── </span><span class="text-span-87">Press</span>
            </div>
        </a></div>
        <div id="w-node-_7b3c11bb-2cd1-eb56-720d-3d4fdb4bc58f-db4bc4f8" class="footer-form-wrapper">
            <div class="w-embed">
                <div id="lightbox-inline-form-f2e4a798-4af2-490c-a957-4dcb3afedacc"></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-part">
        <div class="rebrand-container-v2 footer-legal-container">
            <div id="w-node-_7b3c11bb-2cd1-eb56-720d-3d4fdb4bc593-db4bc4f8"
                 class="w-layout-grid footer-link-wrapper"><a href="/patent-pledge"
                                                              id="w-node-_7b3c11bb-2cd1-eb56-720d-3d4fdb4bc594-db4bc4f8"
                                                              class="footer-link-legal">Patent Pledge</a>
                <div id="w-node-_7b3c11bb-2cd1-eb56-720d-3d4fdb4bc596-db4bc4f8" class="text-block-90">—</div>
                <div><a href="/terms" class="footer-link-legal">Terms of Use</a><a href="/privacy"
                                                                                   class="footer-link-legal"></a>
                </div>
                <div class="text-block-90">—</div>
                <div><a href="/privacy" class="footer-link-legal">Privacy Policy</a></div>
            </div>
            <a id="w-node-_7b3c11bb-2cd1-eb56-720d-3d4fdb4bc5a3-db4bc4f8" href="http://status.hiro.so"
               class="footer-status-wrapper w-inline-block">
                <div>Status</div>
                <div class="status-green-dot"></div>
                <div class="text-black-rebrand">All systems normal</div>
            </a>
            <div id="w-node-_7b3c11bb-2cd1-eb56-720d-3d4fdb4bc5a9-db4bc4f8" class="text-block-89">© 2023 Freya &
                Coinnich Ltd
            </div>
        </div>
    </div>
    <img src="https://assets-global.website-files.com/5ff21113877dd72b9f913b35/632981049255d37ccf638ce4_hirologo.svg"
         loading="lazy" alt="Hiro Logo" class="hiro-footer-bottom-logo"/></footer>