<nav role="navigation" class="rebrand-nav-menu v2 w-nav-menu">
    <div data-hover="false" data-delay="0" class="rebrand-dropdown-v2 w-dropdown">
        <div class="rebrand-dropdown-toggle v2 w-dropdown-toggle">
            <div class="navbar-dropdown-text-wrapper">
                <div class="mobile-menu-item">Tools &amp; Infrastructure</div>
                <div class="navbar-dropdown-text-line-wrapper v2"></div>
            </div>
            <div class="rebrand-dropdown-icon v2 w-embed">
                <svg width="12" height="7" viewBox="0 0 12 7" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <line y1="-0.6" x2="7.05414" y2="-0.6"
                          transform="matrix(0.680451 0.732793 -0.680451 0.732793 0 1)" stroke="currentColor"
                          stroke-width="1.2"/>
                    <line y1="-0.6" x2="7.05414" y2="-0.6"
                          transform="matrix(-0.680451 0.732793 0.680451 0.732793 12 1)" stroke="currentColor"
                          stroke-width="1.2"/>
                </svg>
            </div>
        </div>
        <nav class="rebrand-dropdown-list v2 w-dropdown-list">
            <div class="dropdown-list-wrapper v2"><a id="w-node-_544ff1d2-c142-376a-67e5-351559bc4e99-59bc4e8a"
                                                     href="#" class="featured-nav-link w-inline-block">
                <div class="featured-nav-link-image-wrapper"><img
                        src="https://assets-global.website-files.com/5ff21113877dd72b9f913b35/6411fe192a56995b9179fa21_create%20with%20projects%20(3)%20(1).png"
                        loading="lazy" alt="" class="platform-nav-link-image"/></div>
                <div class="flex-horizontal space-between platform">
                    <div rel="noreferrer" class="nav-link-rebrand-v2 big-link-heading">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div class="text-block-85">Platform</div>
                    </div>
                    <div class="pill-label small mobile-small">New</div>
                </div>
                <div class="text-dark-gray mobile-invisible">Discover, write, and deploy smart contracts, from
                    your browser.
                </div>
            </a>
                <div id="w-node-_544ff1d2-c142-376a-67e5-351559bc4ea5-59bc4e8a" class="column nav-links-column">
                    <a rel="noreferrer" href="#" class="nav-link-rebrand-v2 w-inline-block">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div class="text-block-87">CLARINET</div>
                    </a><a rel="noreferrer"
                           href="#"
                           target="_blank" class="nav-link-rebrand-v2 w-inline-block">
                    <div class="footer-link-arrow w-embed">
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                  transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                  stroke="CurrentColor" stroke-width="0.963712"/>
                            <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                  transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                  stroke="CurrentColor" stroke-width="0.963712"/>
                        </svg>
                    </div>
                    <div>CLARITY VSCODE EXTENSION ↗</div>
                </a>
                    <div rel="noreferrer" class="nav-link-rebrand-v2 disabled">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div>SUBNETS</div>
                        <div class="pill-item disabled">COMING SOON</div>
                    </div>
                    <a rel="noreferrer" href="#"
                       class="nav-link-rebrand-v2 w-inline-block">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div>Stacks EXPLORER ↗</div>
                    </a></div>
                <div id="w-node-_544ff1d2-c142-376a-67e5-351559bc4eb8-59bc4e8a" class="column nav-links-column">
                    <a rel="noreferrer" href="#" class="nav-link-rebrand-v2 w-inline-block">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div>STACKS BLOCKCHAIN API</div>
                    </a><a rel="noreferrer" href="#" class="nav-link-rebrand-v2 w-inline-block">
                    <div class="footer-link-arrow w-embed">
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                  transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                  stroke="CurrentColor" stroke-width="0.963712"/>
                            <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                  transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                  stroke="CurrentColor" stroke-width="0.963712"/>
                        </svg>
                    </div>
                    <div>STACKS.JS</div>
                </a><a rel="noreferrer" href="#" target="_blank"
                       class="nav-link-rebrand-v2 w-inline-block">
                    <div class="footer-link-arrow w-embed">
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                  transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                  stroke="CurrentColor" stroke-width="0.963712"/>
                            <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                  transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                  stroke="CurrentColor" stroke-width="0.963712"/>
                        </svg>
                    </div>
                    <div>ORDINALS EXPLORER ↗</div>
                    <div class="pill-label small mobile-small">New</div>
                </a><a rel="noreferrer" href="http://wallet.hiro.so" target="_blank"
                       class="nav-link-rebrand-v2 w-inline-block">
                    <div class="footer-link-arrow w-embed">
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                  transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                  stroke="CurrentColor" stroke-width="0.963712"/>
                            <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                  transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                  stroke="CurrentColor" stroke-width="0.963712"/>
                        </svg>
                    </div>
                    <div>HIRO WALLET ↗</div>
                </a></div>
                <div id="w-node-_544ff1d2-c142-376a-67e5-351559bc4ec5-59bc4e8a"
                     class="dd-list-hover-area"></div>
            </div>
        </nav>
    </div>
    <!--            RESOURCE NAV-->
    <div data-hover="false" data-delay="0" class="rebrand-dropdown-v2 w-dropdown">
        <div class="rebrand-dropdown-toggle v2 w-dropdown-toggle">
            <div class="navbar-dropdown-text-wrapper">
                <div class="mobile-menu-item">Resources</div>
                <div class="navbar-dropdown-text-line-wrapper v2"></div>
            </div>
            <div class="rebrand-dropdown-icon v2 w-embed">
                <svg width="12" height="7" viewBox="0 0 12 7" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <line y1="-0.6" x2="7.05414" y2="-0.6"
                          transform="matrix(0.680451 0.732793 -0.680451 0.732793 0 1)" stroke="currentColor"
                          stroke-width="1.2"/>
                    <line y1="-0.6" x2="7.05414" y2="-0.6"
                          transform="matrix(-0.680451 0.732793 0.680451 0.732793 12 1)" stroke="currentColor"
                          stroke-width="1.2"/>
                </svg>
            </div>
        </div>
        <nav class="rebrand-dropdown-list v2 w-dropdown-list">
            <div class="dropdown-list-wrapper resources"><a rel="noreferrer"
                                                            id="w-node-_544ff1d2-c142-376a-67e5-351559bc4ecf-59bc4e8a"
                                                            href="https://docs.hiro.so/" target="_blank"
                                                            class="featured-nav-link documentation w-inline-block">
                <div class="featured-nav-link-image-wrapper"><img
                        src="https://assets-global.website-files.com/5ff21113877dd72b9f913b35/6411fe19b762c4f6bf0a5ad6_Group%205894%20(2)%20(1).png"
                        loading="lazy" alt="" class="featured-resources-nav-image"/></div>
                <div class="flex-horizontal space-between">
                    <div rel="noreferrer" class="nav-link-rebrand-v2 big-link-heading">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div>DOCUMENTATION ↗</div>
                    </div>
                </div>
            </a>
                <div id="w-node-_544ff1d2-c142-376a-67e5-351559bc4ed7-59bc4e8a" class="column nav-links-column">
                    <div rel="noreferrer" class="nav-link-rebrand-v2 disabled">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div>TUTORIALS</div>
                        <div class="pill-item disabled">COMING SOON</div>
                    </div>
                    <div rel="noreferrer" class="nav-link-rebrand-v2 disabled">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div>ROADMAP</div>
                        <div class="pill-item disabled">COMING SOON</div>
                    </div><div rel="noreferrer" class="nav-link-rebrand-v2 disabled">
                    <div class="footer-link-arrow w-embed">
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                  transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                  stroke="CurrentColor" stroke-width="0.963712"/>
                            <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                  transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                  stroke="CurrentColor" stroke-width="0.963712"/>
                        </svg>
                    </div>
                    <div>VIDEOS</div>
                    <div class="pill-item disabled">COMING SOON</div>
                </div></div>
                <div id="w-node-_544ff1d2-c142-376a-67e5-351559bc4ee8-59bc4e8a" class="column nav-links-column">
                    <a rel="noreferrer" href="/public/newsletter" class="nav-link-rebrand-v2 w-inline-block">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div>NEWSLETTER</div>
                    </a>
                    <div rel="noreferrer" class="nav-link-rebrand-v2 disabled">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div>CASE STUDIES</div>
                        <div class="pill-item disabled">COMING SOON</div>
                    </div>
                    <div rel="noreferrer" class="nav-link-rebrand-v2 disabled">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div>BOOKS</div>
                        <div class="pill-item disabled">COMING SOON</div>
                    </div>
                </div>
                <div id="w-node-_544ff1d2-c142-376a-67e5-351559bc4ef9-59bc4e8a"
                     class="dd-list-hover-area"></div>
            </div>
        </nav>
    </div>
    <!--            COMPANY NAV-->
    <div data-hover="false" data-delay="0" class="rebrand-dropdown-v2 w-dropdown">
        <div class="rebrand-dropdown-toggle v2 w-dropdown-toggle">
            <div class="navbar-dropdown-text-wrapper">
                <div class="mobile-menu-item">Company</div>
                <div class="navbar-dropdown-text-line-wrapper v2"></div>
            </div>
            <div class="rebrand-dropdown-icon v2 w-embed">
                <svg width="12" height="7" viewBox="0 0 12 7" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <line y1="-0.6" x2="7.05414" y2="-0.6"
                          transform="matrix(0.680451 0.732793 -0.680451 0.732793 0 1)" stroke="currentColor"
                          stroke-width="1.2"/>
                    <line y1="-0.6" x2="7.05414" y2="-0.6"
                          transform="matrix(-0.680451 0.732793 0.680451 0.732793 12 1)" stroke="currentColor"
                          stroke-width="1.2"/>
                </svg>
            </div>
        </div>
        <nav class="rebrand-dropdown-list v2 w-dropdown-list">
            <div class="dropdown-list-wrapper company">
                <div class="featured-nav-link company"><a href="/careers"
                                                          class="careers-nav-link-cell first w-inline-block">
                    <div rel="noreferrer" class="nav-link-rebrand-v2 careers-hiring-link">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div>Careers</div>
                        <div class="pill-label small">We&#x27;re hiring!</div>
                    </div>
                </a></div>
                <div id="w-node-_544ff1d2-c142-376a-67e5-351559bc4f13-59bc4e8a" class="column nav-links-column">
                    <a rel="noreferrer" href="/public/about" class="nav-link-rebrand-v2 w-inline-block">
                        <div class="footer-link-arrow w-embed">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                                <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                      transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                      stroke="CurrentColor" stroke-width="0.963712"/>
                            </svg>
                        </div>
                        <div>About</div>
                    </a><a rel="noreferrer" href="/press" class="nav-link-rebrand-v2 w-inline-block">
                    <div class="footer-link-arrow w-embed">
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                  transform="matrix(0.721336 -0.692586 0.721336 0.692585 1.53638 9.86572)"
                                  stroke="CurrentColor" stroke-width="0.963712"/>
                            <line y1="-0.481856" x2="5.56671" y2="-0.481856"
                                  transform="matrix(0.721336 0.692585 0.721336 -0.692586 1.53638 0.227295)"
                                  stroke="CurrentColor" stroke-width="0.963712"/>
                        </svg>
                    </div>
                    <div>Press</div>
                </a></div>
                <div id="w-node-_544ff1d2-c142-376a-67e5-351559bc4f1c-59bc4e8a"
                     class="dd-list-hover-area"></div>
            </div>
        </nav>
    </div>
    <!--            BLOG NAV-->
    <a data-w-id="544ff1d2-c142-376a-67e5-351559bc4f1d" href="/blog"
       class="rebrand-navbar-link v2 w-inline-block">
        <div class="navbar-dropdown-text-wrapper">
            <div class="mobile-menu-item">Blog</div>
            <div class="navbar-dropdown-text-line-wrapper v2 blog"></div>
        </div>
    </a>
    <!--            DOCS-->
    <div class="nav-button-wrap"><a rel="noreferrer" id="w-node-_544ff1d2-c142-376a-67e5-351559bc4f23-59bc4e8a"
                                    href="http://docs.hiro.so/" target="_blank"
                                    class="rebrand-button-white small nav-button w-button">Docs ↗</a>
        <!--                LOGIN-->
        <a
                id="w-node-_544ff1d2-c142-376a-67e5-351559bc4f25-59bc4e8a" href="https://platform.hiro.so/"
                class="orange-rebrand-button nav-button">Log in</a></div>

</nav>